/* prep-preview.component.scss */

.table-component {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
}

th,
td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
    white-space: normal;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
}

tr {
    text-align: center;
    align-content: center;
    flex: auto;
}
