  <div class="preview-shell">
    <ng-container *ngIf="parsedSheetService.selectedSheet">
      <ng-container
        *ngIf="
          parsedSheetService.parsedSheets[parsedSheetService.selectedSheet]?.type === 'prep'
        "
      >
        <app-prep-preview *ngIf="prepData" [data]="prepData"></app-prep-preview>
      </ng-container>

      <ng-container
        *ngIf="
          parsedSheetService.parsedSheets[parsedSheetService.selectedSheet]?.type === 'event'
        "
      >
        <app-event-preview *ngIf="eventData" [data]="eventData"></app-event-preview>
      </ng-container>
    </ng-container>
  </div>