<div *ngIf="hasParsedSheets(); else noSheets">
  <label for="sheet-select">Select Sheet:</label>
  <select id="sheet-drop-down" [(ngModel)]="parsedSheetService.selectedSheet">
    <option *ngFor="let name of parsedSheetService.sheetNames; let i = index" [value]="name" [attr.id]="name">
      {{ name }}
    </option>
  </select>

  <div class="preview-shell">
    <ng-container *ngIf="parsedSheetService.selectedSheet">
      <ng-container
        *ngIf="
          parsedSheetService.parsedSheets[parsedSheetService.selectedSheet]?.type === 'prep'
        "
      >
        <app-prep-preview *ngIf="prepData" [data]="prepData"></app-prep-preview>
      </ng-container>

      <ng-container
        *ngIf="
          parsedSheetService.parsedSheets[parsedSheetService.selectedSheet]?.type === 'event'
        "
      >
        <app-event-preview *ngIf="eventData" [data]="eventData"></app-event-preview>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #noSheets>
  <p class="text-muted">Upload an Excel file to begin previewing sheets.</p>
</ng-template>