<table>
  <thead>
    <tr>
        <th>Date</th>
        <th>Venue</th>
        <th>Event Title</th>
        <th>Count</th>
        <th>Assigned To</th>
        <th>Category</th>
        <th>Food Item</th>
        <th>Process</th>
        <th>Quantity</th>
        <th>Packout</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.date }}</td>
      <td>{{ item.venue }}</td>
      <td>{{ item.eventTitle }}</td>
      <td>{{ item.count }}</td>
      <td>{{ item.assignedTo}}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.foodItem }}</td>
      <td>{{ item.process }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.packout }}</td>
    </tr>
  </tbody>
</table>