<div class="page-wrapper">
  <div class="upload-container">
    <h3 style="color: red">Upload Excel File</h3>
    <input
      type="file"
      id="SelectFile"
      (change)="onFileSelected($event)"
      accept=".xlsx, .xls, .csv"
    />

    <div *ngIf="fileName">
      <p>Selected file: {{ fileName }}</p>
      <button
        id="upload-button"
        (click)="uploadFile()"
        [disabled]="!selectedFile"
      >
        Upload
      </button>
    </div>
  </div>
  <div class="sheet-selector" *ngIf="hasParsedSheets(); else noSheets">
    <label for="sheet-select">Select Sheet:</label>
    <select id="sheet-drop-down" [(ngModel)]="parsedSheetService.selectedSheet">
      <option
        *ngFor="let name of parsedSheetService.sheetNames; let i = index"
        [value]="name"
        [attr.id]="name"
      >
        {{ name }}
      </option>
    </select>
  </div>
  <ng-template #noSheets>
    <p class="text-muted">Upload an Excel file to begin previewing sheets.</p>
  </ng-template>

  <div
    id="preview-section"
    *ngIf="parsedSheetService.selectedSheet && hasParsedSheets()"
  >
    <app-excel-preview></app-excel-preview>
  </div>
</div>
